body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color:#444341;
}

.btn-universel {
    color: white;
    background: #9672f7;
    font-weight: bold;
    padding:10px 20px;
    text-transform: uppercase;
    margin-top:20px;
    display: inline-block;
    transition: 0.3s ease;
    font-size: 14px;
    &:hover {
        text-decoration: none;
        color: white;
        background: #8767df;
    }
}

h1, h2, h3, h4 {
    font-family: Georgia,Times,'Times New Roman',serif;
    font-weight: bold;
    margin-bottom:20px;
    color:#444341;
}

h1, h2 {
    font-size: 26px;
    margin-bottom: 30px;
}
