header {
    font-family: Georgia,Times,'Times New Roman',serif;
    margin: 50px 0px 80px 0;
    div#mega-menu-wrap-header-menu {
    display: flex;
    align-items: flex-end;
    a.mega-menu-link {
        height: 31px!important;
        }
    }
}
